In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
toys=pd.read_excel('Sales_Data.xlsx')

In [4]:
toys.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [6]:
toys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   datetime64[ns]
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 429.3+ KB

In [7]:
toys.shape

(2747, 20)

In [8]:
toys.describe(include='all').round(2).T

C:\Users\India\AppData\Local\Temp\ipykernel_6884\2800071457.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  toys.describe(include='all').round(2).T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
ORDERNUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,10259.76,91.88,10100.0,10181.0,10264.0,10334.5,10425.0
QUANTITYORDERED,2747.0,NaN,NaN,NaN,NaT,NaT,35.1,9.76,6.0,27.0,35.0,43.0,97.0
PRICEEACH,2747.0,NaN,NaN,NaN,NaT,NaT,101.1,42.04,26.88,68.74,95.55,127.1,252.87
ORDERLINENUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,6.49,4.23,1.0,3.0,6.0,9.0,18.0
SALES,2747.0,NaN,NaN,NaN,NaT,NaT,3553.05,1838.95,482.13,2204.35,3184.8,4503.09,14082.8
ORDERDATE,2747,246,2018-11-14 00:00:00,38,2018-01-06,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DAYS_SINCE_LASTORDER,2747.0,NaN,NaN,NaN,NaT,NaT,1757.09,819.28,42.0,1077.0,1761.0,2436.5,3562.0
STATUS,2747,6,Shipped,2541,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRODUCTLINE,2747,7,Classic Cars,949,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSRP,2747.0,NaN,NaN,NaN,NaT,NaT,100.69,40.11,33.0,68.0,99.0,124.0,214.0
PRODUCTCODE,2747,109,S18_3232,51,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUSTOMERNAME,2747,89,Euro Shopping Channel,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PHONE,2747,88,(91) 555 94 44,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADDRESSLINE1,2747,89,"C/ Moralzarzal, 86",259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CITY,2747,71,Madrid,304,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
POSTALCODE,2747,73,28034,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY,2747,19,USA,928,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTLASTNAME,2747,76,Freyre,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTFIRSTNAME,2747,72,Diego,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEALSIZE,2747,3,Medium,1349,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
mba=pd.read_csv('dataset_group.csv')

In [10]:
mba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [12]:
mba.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,20641,603,2/8/2019,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Order_id,20641.0,NaN,NaN,NaN,575.986289,328.557078,1.0,292.0,581.0,862.0,1139.0
Product,20641,37,poultry,640,NaN,NaN,NaN,NaN,NaN,NaN,NaN